companies{
	background-image: #808080;
	/* background-repeat: no-repeat; */
	/* tutaj można dać obrazek w tle */
}

header > * {
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	
}

header > title{
	font-size: 40px;
	text-transform: uppercase;
	word-spacing: 10px;
}

header > authors{
	margin-top: 5px;
}

header > author{
	margin-top: 3px;
}

company {
	transition: 0.2s;
	display: block;
	text-align: center;
	margin-top: 15px;
	border: solid 3px #999999;
}

company:hover {
	font-size: 25px;
}

company:hover > name {
	font-size: 30px;
	font-weight: bold;
	font-style: oblique;
}

name {
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

industry, employees, birthplace, birthday, ceo, founded  {
	display: block;
	text-align: center;
}

